.navBarList {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 5.4rem;
}

.navBarEl {
  position: relative;
}

.navBarEl::after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  left: 50%;
  height: 2px;
  background: #ff0000;
  transition: cubic-bezier(0.77, 0, 0.18, 1) 0.5s;
}

.navBarEl:hover::after {
  width: 80%;
  left: 10%;
}

.navBarEl {
  transition: cubic-bezier(0.77, 0, 0.18, 1) 0.5s;
}

.navBarEl a:link,
.navBarEl a:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3;
}

.navBarEl a:hover,
.navBarEl a:active {
  color: #ff0000;
}

.nav-cta a:link,
.nav-cta a:visited {
  text-decoration: none;
  border-radius: 9px;
  padding: 0.6rem 2rem;
  font-size: 1.4rem;
  color: white;
  background-color: #ff0000;
  margin-right: 0.5rem;
}

.nav-cta a:hover,
.nav-cta a:active {
  background-color: #cc0000;
}

/* <div>Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */

#pokeball-container {
  padding-right: 35rem;
}
